@{Layout = null;
}


<!DOCTYPE html>

<html>

<head>

    <title>Envia</title>
</head>
<body>
    <div>
        Mensagem enviada com sucesso.
    </div>
    <div>
        @Html.ActionLink("Voltar para página inicial", "Index", "Selecoes")
    </div>
</body>
</html>
