@{ Layout = null;
}
<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>Página não encontrada</title>
</head>
<body>
    <h2>Página não encontrada</h2>
</body>
</html>
